body {
    background-color: #333;
    color: #999;
    padding: 0;
    margin: 0;
    font-family: arial;
}
.nome_e_descrição h1 {
    background-color: #222;
    padding-left: 460px;
    padding-top: 0;
    margin: 0;
    font-size: 80px;
}
h2 {
    font-size: 40px;
    padding-left: 440px;
}
.Messi_link {
    text-decoration: none;
    color: #999;
}
.Messi_img {
    padding-left: 408px;
    width: 600px;
    height: 600px;
}
article {
    background-color: aqua;
    color: #000;
    width:500px;
    margin-left: 450px
}
data_nasc {
    margin-left: 500px;
}
data {
    color: #fff;
    background-color: #000;
}
p {
    background-color: #fff;
}
footer {
    border-top: #000;
    background-color: #000;
    color: #333;
    text-align: center
}